<div class="gif-player-container" (wheel)="onScroll($event)">
    <canvas id="canvas" #gifCanvas></canvas>
    <div class="gif-player-controls" *ngIf="showControls()">
        <div class="speed-control">
            <span class="rabbit" style="font-size: 1.2em;">🐰</span>
            <div class="slider-container">
                <input type="range" id="gif-speed" min="1" max="100" 
                [value]="gifSpeedValue" 
                orient="vertical"
                (input)="onGifSpeedChange($event)" />
                <span class="fps-indicator">{{gifSpeedValue}} FPS</span>
            </div>
            <span class="turtle" style="font-size: 1.2em;">🐢</span>
            <p class="speed-label">Speed</p>
        </div>
    </div>
    <div class="gif-player-fps" *ngIf="showFps()">
        <p>FPS: </p>
        <input type="text" id="gif-fps" [value]="gifSpeedValue" (input)="onGifSpeedChange($event)" />
    </div>
</div>